form{
    text-align: center;
    background-image: url("https://i.pinimg.com/236x/f2/2f/2b/f22f2b2571c6c555740e4d6ab2dd8556--teacher-websites-educational-technology.jpg");
    width: 500px;
    height: 180px;
    margin: auto;
}
